PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/echostream?retryWrites=true&w=majority
JWT_SECRET=echostream_super_secret_jwt_key_2025_safe_and_long
MUSIC_API_BASE_URL=https://api.jamendo.com/v3.0
MUSIC_API_CLIENT_ID=56b49247
IMAGE_API_BASE_URL=https://images.unsplash.com
IMAGE_API_KEY=
